backend/.idea/

# React dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# React testing
frontend/coverage

# React production build
frontend/build

# React environment files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.idea



electron/backend
electron/build
electron/node_modules
electron/index.html





.idea/
# macOS system files (still works anywhere)
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.xml
*.iml
*.toc
*.pyz
*pyc
*.pkg
*.db
*.spec
build/